.fullScreenContainer{
    height:auto;
/*    justify-content: center;*/
}
h1,h2,h3,h4,h5,h6{font-family:'Publico Banner Roman';}
.innerpgcontainer {
    padding-top: 50px;
    padding-bottom: 50px;
}
.flexContainer{
    
    align-items:center;
}
.body{
        color: #383838;
    font-family: 'FormaText';
}
.p{
    font-family: 'Publico Banner Roman';
    font-size:1.1em;
}

.logo{
	max-width: 100%;
    max-height: 40px;
   padding-right: 0px;  
       padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 10px;
    line-height: 50px;
}    

.navbar{
	background-color: #414042;
    padding: 10px 40px;
    color: #fff;
    
}
.navbar-collapse{
padding-top: 10px; margin-right: 40px;
}
.nav-link{
    text-transform: uppercase;
    
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: #ffcf01;

}
.dropdown-item{
    text-align: center;
    border-top: 1px solid #d0cfcf;
    padding: 0.4rem 1.5rem;
}
.dropdown-item:first-child{
    border-top:none;
    border-radius:.25rem .25rem 0 0;
    padding-top:.5rem;
    padding-bottom:.5rem;
}
.dropdown-item:last-child{
    border-radius:0 0 .25rem .25rem;
}
.flex-container{
    background-image:url("../images/banner1.3.jpg");
    width: 100%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-shadow: 2px 2px 5px #000000;
    font-family: 'Publico Banner Roman';
    font-size: 3.0em;
        line-height: 1em;
    
}
.img2{
    background-image:url("../images/bg-archive-3.jpg");
    width: 100%;
    align-items: stretch;
    background-size: cover;
    flex-direction: row;
    padding-top: 70px;
    margin-bottom: 25px;
    text-transform: uppercase;
    color: #231f20;
    text-shadow: none;
    font-size: 2.5em;

}
.archiveCont h3 {
    line-height: 35px;
    font-size: 1em;
    text-transform: uppercase;
    margin-top: 75px;
    margin-bottom: 25px;
    text-align: center;
}
.archiveCont p {
    margin-bottom: 25px;
    line-height: 35px;
    font-size: 25px;
    text-align: center;
}
.archiveCont p a {
    display: inline-block;
    padding: 5px 35px 1px;
    font-size: .65em;
    line-height: 30px;
    text-transform: uppercase;
    font-family: 'FormaText';
    font-weight: 600;
    color: #414042;
    text-align: center;
    border: 1px solid #676767;
    border-radius: 1px;
}
.btn-submit:hover{
    background-color:#f7f7f44d;

text-decoration: none;
}
.btn-submit:focus{
    outline:none
}
.hmStrengths{
    padding-top: 50px;
    padding-bottom: 70px;
    background: url("../images/bg-strength.jpg");
    background-size: cover;
    no-repeat center;
    padding-top: 0px;

}
.hmStrengths h2 {
    margin-bottom: 25px;
    font-size: 3em;
    text-transform: uppercase;
    color: #231f20;
    text-align: center;
    font-family: 'Publico Banner Roman';
   
}
.hmstrengbox .strengboxcolumn{
    padding:0;
    margin:2px 0;
}
.hmstrengbox{
    height:500px;
}
.hmstrengitem{

    padding:10px;
    margin:6px 3px;
    color:#231f20;

    background:no-repeat center;
    background-size:100% 100%;
    position:relative;
    cursor:pointer;
}
.hmstrengitem > div{
    display: flex;
    align-items: center;
    text-align:center;
    width:100%;
    height:100%;
    position:absolute;
    bottom: 0;
    left:0;
    top:0;
    background: rgb(83 83 83 / 70%);
    visibility:hidden;
}
.hmstrengitem h3{
    width:100%;
    font-family: 'FormaText';
    padding: 10px 10px ;
    color: #f9f9f9;
    text-transform: uppercase;
}
.hmstrengitem:hover > div{visibility:visible;}


.box1{
    height:50%;
    width: 100%;
    background-image:url("../images/st1.jpg");

}
.box2{
    height:50%;
    background-image:url("../images/st2.jpg");
}
.box3{
    height: 50%;
    background-image: url("../images/st3.jpg");
}
.box4{
    height: 50%;
    background-image: url("../images/st4.jpg");
}
.box5{
    height: 33%;
    background-image: url("../images/st5.jpg");
}
.box6{
    height: 33%;
    background-image: url("../images/st6.jpg");
}
.box7{
    height: 33%;
    background-image: url("../images/st7.jpg");
}

/*hmgive it start here*/

.hmGiveitback{
    background:#3c3c3c url("../images/bg-giving-it-back.jpg") no-repeat center fixed;
    background-size:cover;
    padding-top:25px;
    padding-bottom:50px;
}
.hmGiveitback h2 {
    margin-bottom: 20px;
    font-size: 3em;
    text-transform: uppercase;
    color: #231f20;
    text-align: center;
     font-family: 'PlayfairDisplay-Regular'; 
}
.backslideritem {
    padding:10px;
    margin:6px 3px;
    color:#231f20;

    background:no-repeat center;
    background-size:100% 100%;
    position:relative;
    cursor:pointer;
}
.backslideritem > div{
    display: flex;
    align-items: center;
    text-align:center;
    width:100%;
    height:100%;
    position:absolute;
    bottom: 0;
    left:0;
    top:0;
    background: rgb(83 83 83 / 70%);
    visibility:hidden;
}

.backslideritem h3{

    width:100%;
    font-family: 'FormaText';
    padding: 10px 10px ;
    color: #f9f9f9;
    text-transform: uppercase;
}
.backslideritem:hover> div{visibility:visible;}
/*hmgive it end here*/

/*hmdircont*/
.directionCont > div.row{width:100%;}
.hmDirCont{
    width:100%;
    background-color:#f5f4f2;
}
.hmdirectionpic{
    width:100%;
    height:100%;
    margin-left: 10px;

    display: flex;
    align-items: center;

}
.hmdirectionpic img{
    max-width:100%;
    max-height:100%;
    display:block;
    margin:0 auto;
}
.hmdirAuthor{
    font-family: 'Publico Banner Roman';
    text-align:right;
}
.hmdirConDescWrapper{

    padding-top: 10px;
    margin-left: 10px;
    
    align-items: center;
    text-align:justify;
}
.hmdirConDesc{
    padding: 30px 50px;
    width: 100%;
    max-width: 750px;
    margin:0 auto;
    text-align: justify;
}
.hmdirConDescIn{padding:0 20px;}
.hmdirConDesc p{font-size:1.2em;}
.hmdirConDesc p i{font-size:0.9em;}
.hmdirAuthor h3{
    fon-size:2em;
    color:#231f20;

}
/*hmdircont*/
/*hmjoinhabd*/
.hmjoinhabd{
    background-image: url("../images/6.jpg");
    no-repeat left bottom;
    background-size: cover;
}
.hmjoinhabd > .row{
    background-color:rgb(165 165 165 / 50%);
}
.joinInner{
    width: 100%;
    padding:15px 15px 15px;
    min-height:380px;
    display: flex;
    align-items:flex-end;
    text-align: center;

}
.hmjoinhabd p {
    padding:15px 15px 50px;
    
    margin: 0;
    line-height: 42px;
    font-size: 2.1em;
    color: #231f20;
    
    font-family: 'Publico Banner Roman';
    letter-spacing: 1.5px;
}

.hmjoinhabd a {
    display: inline-block;
    padding: 5px 5px;
    font-size: 1em;
    line-height: 30px;
    text-transform: uppercase;
    font-family: 'FormaText';
    font-weight: 600;
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 1px;
}
.btn-submit:hover{
    background-color:#f7f7f44d;

text-decoration: none;}
.btn-submit:focus{
    outline:none
}
/*hmjoinhabd*/



/*footer*/
.footer {
    background-color: #ffffff;
    padding: 50px 0;
    color: #6d6e71;
}


.footerTitle {
    padding: 0;
    margin: 0 0 24px;
    line-height: 34px;
    font-size: 1.8em;
    text-transform: uppercase;
    color: #545152;
    font-weight: normal;
}
.footerTitle span {
    display: inline-block;
   
    border-bottom: 2px solid #b3b3b3;
    line-height: 1em;
}


.footer p {
    line-height: 25px;
    font-size: 1em;
    padding: 0;
    margin: 0 0 15px;
    
}
.footer p strong {
    
    font-weight: normal;
}

.address i{
    color: #ffc107;
    padding-right: 10px;
    position: absolute;
    left: 0;
}

}
.footer .address p{
    padding-left: 21px;
    position: relative;
}

}
.footer .address p .fas {
    color: #ffcf01;
}

.footer p .fa .envo {
    color: #b5b5b5;
    padding-right: 4px;
}

.quickLink a:hover{
    border-bottom: 2px solid #ffcf01;
    text-decoration: none;
}
.footer p {
    line-height: 25px;
    font-size: 1em;
    padding: 0;
    margin: 0 0 15px;
    /* font-family: 'Releway-Regular'; */
}
.footer p a {
    color: #6d6e71;
}
.footerSocialIcons {
    padding-top: 6px;
}
.footerSocialIcons a {

    color: #fff;

    display: inline-block;
    background: #b5b5b5;
    line-height: 15px;
    font-size: 1.1em;
    padding: 6px;
    border-radius: 6px;
    margin: 0 2px;
}
.footerSocialIcons a:hover {
    background: #ffcf01;
}
.footerSocialIcons a:hover i {
    color: #ffffff;
}

/*footer*/


/*copyright*/

.copyright {
    background-color: #808285;
    padding: 14px 0;
    text-align: center;
}
.copyright p {
    padding: 0;
    margin: 0;
    line-height: 24px;
    font-size: .8em;
    color: #fff;
}
/*copyright*/


/*innerpage*/
.innerpgbnnr {
    width: 100%;
}
.bannerItem {
    position: relative;
}
.bannerItem img {
    max-width: 100%;
}
img {
    vertical-align: middle;
    border-style: none;
}
.innerpagetitle  h1 {
    justify-content: center;
    color: #231f20;
    font-size: 3.0em;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    font-family: 'PlayfairDisplay-Regular';
}

.innerpgcontainer{
    
    padding-top: 50px;
    padding-bottom: 0px;
}

.tik-ul li {
    position: relative;
    padding-left: 1.5em;
}
.tik-ul li:before {
    content:"\2714";
    color: green;
    position: absolute;
    left: 0;
}
.carousel-item .row {
    display: flex;
    align-items: center;
    text-align: center;
}
/*.caroseltext{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}*/
.carousel-indicators li {

  width: 16px;
  height: 16px;
  border-radius: 100%;
  margin: 5px;
  background-color: #a7a9ac;
}
.carousel-indicators{

bottom: -100px;
}
.carousel-indicators .active{
    background-color: #ffcf01;

}

.carousel-item h4{
    font-family: 'Publico Banner Roman';
    text-align: center;
}


.visionCont {
    height: 300px;
    padding: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    background: no-repeat center;
    position: relative;
    cursor: pointer;
}
.visionCont > div {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    background: rgb(83 83 83 / 70%);
    visibility: hidden;
}
  .col-md-4{
   position: relative;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}
.visionCont p{
    text-transform: uppercase;
    line-height: 26px;
    font-size: 1.2em;
    font-family: 'FormaText';
    color: #f9f9f9;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.visionCont:hover > div {
    visibility: visible;
}

.visionLeft {
    background-image: url(../images/bg-vision-left.jpg);
}
.visionRight {
    background-image: url(../images/bg-vision-right.jpg);
}


.visionCenter {
    background-image: url(../images/bg-vision-center.jpg);
}


/*innerpage*/

/*innerpage2 start here*/
.innerpagecontainer{
    padding-top: 50px;
    padding-bottom: 50px;

}
.twocolumnitem{
    display: flex;
    align-items: center;
    text-align: center;
}
.towcolumntex{

    display: flex;
    align-items: center;
    text-align: center;
}
.towcolumntex h3{
    margin: 16px 0;
    line-height: 36px;
    font-size: 2em;
    color: #545152;
    text-transform: uppercase;
    font-family: 'Publico Banner Roman';
    text-align: center;}
.towcolumntext {
       padding: 15px;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}
.towcolumntext p{
        font-size: 1em;
}

.towcolumntext p a {
        color: #6d6e71;
    border: 1px solid #c9c9cc;
    padding: 5px 15px 3px;
    margin-top: 13px;
    display: inline-block;
    text-transform: uppercase;
    font-size: .9em;


    /*display: inline-block;
    padding: 5px 5px 1px;
    font-size: 1em;
    line-height: 30px;
    text-transform: uppercase;
    font-family: 'FormaText';
    font-weight: 600;
    color: #414042;
    text-align: center;
    border: 1px solid #676767;
    border-radius: 1px;*/
}
.towcolumntex p a:hover {
    text-decoration: none;
    background-color: #f9f9f9;
}
h1.innerpagetitle{
    color:#231f20;
    font-size:3.0em;
    text-align:center;
    text-transform:uppercase;
    margin:0;
/*    font-family: 'PlayfairDisplay-Regular';*/
}

/*innerpage2 end here*/


/*contact page start*/
.contactFrm {
    padding: 15px;
    background-color: #ededed;
    border-radius: 10px;
}
.contactFrm form {
    width: 100%;
}
.contactFrm .form-control {
    background: #fff;
    border-radius: 0;
    border: none;
    padding: 10px 15px;
    margin-bottom: 20px;
    height: auto;
    color: #a7a8ab;
}
.contactubtn p input {
    width: 160px;
    height: 45px;
    display: inline-block;
    margin: 5px auto;
    padding: 0 25px;
    line-height: 45px;
    font-size: 1.05em;
    text-transform: uppercase;
    /*font-family: 'FormaText';*/
    font-weight: 600;
    color: #414042;
    text-align: center;
    border: none;
   border-radius: 6px;
    background: #fff;

}
.btncon:hover {
        background-color: #f3f3f3;
}


@media screen and (max-width: 600px) {
h2 {
    color: red;
    font-size: 20px;
}
}